<p id="notice"><%= notice %></p>

<p>
  <strong>Pd:</strong>
  <%= @t1.pd_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @t1.name %>
</p>

<%= link_to 'Edit', edit_t1_path(@t1) %> |
<%= link_to 'Back', t1s_path %>
