<%= simple_form_for (['documents',@rental_agreement])  do |f| %>

<div class="form-group">

    
<p>您房屋的位置在？</p>    
<%= f.input :house_location,label: false, input_html: { class: "form-control"} %>

<p>房屋面积有多少平？</p>
<%= f.input :house_size, label: false,input_html: { class: "form-control"} %>

<p>您对这个房子持有的证件是？</p>
<%= f.input :house_document, label: false,as: :check_boxes,collection: [["房屋所有权", "房屋所有权"], ["房屋买卖合同", "房屋买卖合同"],["原购房发票、契税", "原购房发票、契税"],["其他房屋来源证明文件", "其他房屋来源证明文件"]],:selected => "房屋所有权" %>

<p>该房屋是否抵押了呢？</p>
<%= f.input :house_mortgage,label: false, as: :radio_buttons, collection: [['已抵押', true],['未抵押',false]] %>

<p>房屋的用途为？</p>
<%= f.input :house_usage, label: false,as: :radio_buttons, collection: [['居住', 'live'],['商用','bussiness']] %>
<p>该房屋最多可居住人数</p>
<%= f.input :house_maxpeoplenum, label: false,input_html: { class: "form-control"} %>
<p>租赁期开始日期</p>
<%= f.input :lease_term_start, label: false,as: :date, start_year: Date.today.year - 12,
                              end_year: Date.today.year+12, discard_day: true,
                              order: [:month, :year], input_html: { class: "form-control"} %>
<p>租赁期结束日期</p>
<%= f.input :lease_term_end, label: false,as: :date, start_year: Date.today.year - 12,
                              end_year: Date.today.year+12, discard_day: true,
                              order: [:month, :year], input_html: { class: "form-control"} %>

<p>房租支付周期</p>
<%= f.input :rental_cycle, label: false,as: :radio_buttons, collection: [['每月', 'month'],['季度','season'],['半年','half_year'],['每年','year']] %>
<p>每次支付费用</p>
<%= f.input :rental_money, label: false,input_html: { class: "form-control"} %>
<p>支付方式为？</p>
<%= f.input :rental_way, label: false,as: :radio_buttons, collection: [['现金', 'cash'],['转账','transfer_accounts']] %>
<p>每期租金支付日期为？</p>
<%= f.input :rental_date, label: false,as: :radio_buttons, collection: [['每期首月1日', '1'],['每期首月10日','10'],['每期首月20日','20']] %>
<p>押金为？</p>
<%= f.input :rental_deposit, label: false,input_html: { class: "form-control"} %>
<p>额外费用由谁承担？(水、电、煤气、电视电话、车位、供暖、物业费)</p>
<%= f.input :other_pays, label: false,as: :radio_buttons, collection: [['房主承担', 'landlord'],['房客承担','tenant']] %>
<h6>房主信息</h6>
<p>房主姓名</p>
<%= f.input :landlord_name, label: false,input_html: { class: "form-control"} %>
<p>房主联系方式</p>
<%= f.input :landlord_phone, label: false,input_html: { class: "form-control"} %>
<p>房主身份证号</p>
<%= f.input :landlord_idcode, label: false,input_html: { class: "form-control"} %>
<!-- <h6>房客信息</h6>
<p>房客姓名</p>
<%#= f.input :tenant_name, label: false,input_html: { class: "form-control"} %>
<p>房客联系方式</p>
<%#= f.input :tenant_phone, label: false,input_html: { class: "form-control"} %>
<p>房客身份证号</p>
<%#= f.input :tenant_idcode, label: false,input_html: { class: "form-control"} %>
</div> -->
<%= f.submit "提交", class: "btn btn-primary", data: { disable_with: "提交中..." } %>
<% end %>
