<div class="col-md-12">

  <h2>合同</h2>
    <h4>
      <%= @rental_agreement.landlord %>
    </h4>
    <h4>
      <%= @rental_agreement.tenant %>
    </h4>
    <h4>
      <%= @rental_agreement.house_location %>
    </h4>
    <h4>
      <%= @rental_agreement.house_layout %>
    </h4>
    <h4>
      <%= @rental_agreement.house_size %>
    </h4>
    <h4>
      <%= @rental_agreement.house_document %>
    </h4>
    <h4>
      <%= @rental_agreement.house_mortgage %>
    </h4>
    <h4>
      <%= @rental_agreement.house_usage %>
    </h4>
    <h4>
      <%= @rental_agreement.house_maxpeoplenum %>
    </h4>
    <h4>
      <%= @rental_agreement.lease_term_start %>
    </h4>
    <h4>
      <%= @rental_agreement.lease_term_end %>
    </h4>
    <h4>
      <%= @rental_agreement.rental_cycle %>
    </h4>
    <h4>
      <%= @rental_agreement.rental_money %>
    </h4>
    <h4>
      <%= @rental_agreement.rental_way %>
    </h4>
    <h4>
      <%= @rental_agreement.rental_date %>
    </h4>
    <h4>
      <%= @rental_agreement.rental_deposit %>
    </h4>
    <h4>
      <%= @rental_agreement.other_pays %>
    </h4>
    <h4>
      <%= @rental_agreement.landlord_name %>
    </h4>
    <h4>
      <%= @rental_agreement.landlord_phone %>
    </h4>
    <h4>
      <%= @rental_agreement.landlord_idcode %>
    </h4>
    <h4>
      <%= @rental_agreement.tenant_name %>
    </h4>
    <h4>
      <%= @rental_agreement.tenant_phone %>
    </h4>
    <h4>
      <%= @rental_agreement.tenant_idcode %>
    </h4>




</div>